[Unit]
Description=Run ACRCloud client for SUISA reporting on first Monday of every month

[Timer]
OnCalendar=*-*-1 9:00:00
Persistent=true

[Install]
WantedBy=timers.target
