name: Release

on:
  pull_request:
  push:
    branches: [main]
    tags:
      - '*'
  release:
    types: [created]

jobs:
  release-container:
    uses: radiorabe/actions/.github/workflows/release-container.yaml@v0.17.3
    with:
      image: 'ghcr.io/radiorabe/suisasendemeldung'
      name: suisasendemeldung
      display-name: SUISA Sendemeldung
      tags: rabe python suisa

  python-poetry:
    uses: radiorabe/actions/.github/workflows/release-python-poetry.yaml@v0.17.3
    secrets:
      RABE_PYPI_TOKEN: ${{ secrets.RABE_PYPI_TOKEN }}
